body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4;
}

h2 {
    color: #c3d9d5;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 2;
}

h4 {
    margin: 5px;
    color: white;
}

p {
    color: white;
    font-family: "Ubuntu";
    font-size: 1.2rem;
}


/* MyLogo */

.MyLogo {
    width: 3.8%;
}

@media (max-width: 767px) {
    .MyLogo {
        width: 12%;
    }
}


/* Container */

h1.mainpg {
    color: #98e0ee;
    font-family: 'Sacramento';
    font-weight: 900;
    font-size: 6rem;
    padding: 30% 0 0;
}

h2.mainpg {
    color: #98e0ee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    font-weight: bold;
}

.top-container {
    background-image: url("images/background-img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 94vh;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    mainpg {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.colored-section {
    background-color: rgb(3, 3, 39);
    position: sticky;
    top: 0;
    z-index: 1;
}


/* About Section */

.about-section {
    background-color: #2D8BD1;
    padding-bottom: 5%;
}

h1.about {
    font-size: 2rem;
    padding: 15% 15% 0 15%;
}

p.about {
    padding: 2% 15% 7% 15%;
}

.imgofabout {
    width: 25%;
    margin: 5% 12% 0 0;
}


/* Navigation Bar */

.navbar-brand {
    font-family: 'Ubuntu';
    /* font-size: 1.5rem; */
    font-weight: bold;
    margin: 0 0 0 1%;
    color: #FFFFFF;
}

.navbar-dark {
    color: rgb(255 255 255, 1)0%;
}

.nav-item {
    padding: 0 15px;
    color: #FFFFFF !important;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Montserrat-light';
}


/* My Skills */

.header {
    background-image: linear-gradient(rgb(1, 31, 40), rgb(5, 72, 84));
    padding-bottom: 3%;
}

.MySkills {
    background-color: white;
    padding-bottom: 2%;
}

h1.h1_skill {
    font-family: 'Montserrat', sans-serif, cursive;
    font-weight: bold;
    font-size: 3rem;
    padding: 4.5% 0 0;
}

p.p_skill {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 2.5;
    padding: 5% 0;
}

.skill {
    padding: 5% 8%;
    margin: 2%;
    color: black;
    box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(39, 200, 136, 0.975);
}


/* Icons */

.icon-html {
    color: #e34c26;
}

.icon-html:hover {
    color: #F16529;
}

.icon-css {
    color: #264de4;
}

.icon-css:hover {
    color: #2965f1;
}

.icon-js {
    color: #F0DB4F;
}

.icon-js:hover {
    color: #f4e05c;
}

.icon-bt {
    color: #7543ba;
}

.icon-bt:hover {
    color: #8162ac;
}

.icon-react {
    color: #1f5887;
}

.icon-react:hover {
    color: #6eb6e2;
}

.icon-jquery {
    color: #0769AD;
}

.icon-jqeury:hover {
    color: #7ACEF4;
}

.icon-C {
    color: #2f3dd6;
}

.icon-C:hover {
    color: #4754df;
}

.icon-Java {
    color: orange;
}

.icon-Java:hover {
    color: #5382a1;
}

.icon-Python {
    color: #306998;
}

.icon-Python:hover {
    color: #4B8BBE;
}


/* Projects */

.projects {
    background-color: black;
    padding-bottom: 3%;
}

.p_project {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.project_pic {
    width: 100%;
}

.project_column {
    padding: 2% 12%;
}

.project-width {
    padding: 2% 0 0 0;
}

.project_text {
    font-family: "Ubuntu";
    padding: 10% 0;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px -4px 7px 9px rgba(24, 150, 95, 0.74);
}


/* Contact  */

.contact {
    background-image: linear-gradient(rgba(123, 193, 198, 0.7), #253365), url("images/background_forms.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.h2_contact {
    font-family: 'Montserrat', sans-serif, cursive;
    font-weight: bold;
    font-size: 3rem;
    padding: 5% 0 3% 0;
    color: rgb(255, 255, 255);
}

.h4_contact {
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif, cursive;
    font-weight: bold;
}

.p_contact {
    color: white;
}


/* Forms */

form {
    padding: 5% 15%;
    color: white;
}

.input-group {
    margin-bottom: 5%;
    position: relative;
    color: white;
}

.text_submit {
    padding-left: 45%;
}

input,
textarea {
    width: 100%;
    padding: 10px 0;
    outline: 0;
    border: 2px solid white;
    color: white;
    background: transparent;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: white;
    font-family: "Ubuntu";
    font-size: 1.3rem;
    cursor: text;
    transition: 0.2s;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:focus~label {
    top: -35px;
    font-size: 14px;
}

.container .input-group {
    display: flex;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group {
    flex-basis: 48%;
}


/* .text_form {
    padding-left: 5%;
} */

.btn {
    background: #abe4ff;
    background-image: -webkit-linear-gradient(top, #abe4ff, #5e9fc7);
    background-image: -moz-linear-gradient(top, #abe4ff, #5e9fc7);
    background-image: -ms-linear-gradient(top, #abe4ff, #5e9fc7);
    background-image: -o-linear-gradient(top, #abe4ff, #5e9fc7);
    background-image: linear-gradient(to bottom, #abe4ff, #5e9fc7);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial;
    color: #000000;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #91d7ff;
    background-image: -webkit-linear-gradient(top, #91d7ff, #7fc9fa);
    background-image: -moz-linear-gradient(top, #91d7ff, #7fc9fa);
    background-image: -ms-linear-gradient(top, #91d7ff, #7fc9fa);
    background-image: -o-linear-gradient(top, #91d7ff, #7fc9fa);
    background-image: linear-gradient(to bottom, #91d7ff, #7fc9fa);
    text-decoration: none;
}


/* Footer */

.footer {
    background-color: black;
    padding: 1% 15%;
}

.icons {
    padding: 1% 0.5%;
    color: white;
}